
html,
body {
	height:100%;
}

body {
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 14px;
	color: #525b60;
}

/*

	HEADER
	
*/
#admin_header {
	position: relative;
	height: 100px;
	background: white;
	color: #323536;
}

	#admin_header .title {
		position: absolute;
		top: 30px;
		left: 30px;
		font-size: 40px;
		color: #323536;
		line-height: 25px;
	}

	@media (max-width:600px){
		#admin_header .title {
			left: 15px;
		}
	}

		#admin_header .title small {
			display: block;
			font-size: 11px;
			color: #0091ff;
		}

	/* MAIN MENU HOTDOG */
	#admin_header a.hotdog {
		position: absolute;
		top: 30px;
		right: 20px;
		display: block;
		cursor: pointer;
		width: 40px;
		height: 40px;
		border: 1px solid #E5E5E5;
		border-radius: 2px;
	}

	#admin_header a.hotdog:before {
		display: block;
		line-height: 40px;
		text-align: center;
		font-family: FontAwesome;
		font-size: 22px;
		content: "\f0c9";
		color: gray;
	}

	#admin_header a.hotdog:hover {
		border-color: silver;
	}

	#admin_header a.hotdog:hover:before {
		color: black;
	}

	@media (min-width:601px){
		#admin_header a.hotdog {
			display: none;
		}
	}

	/* GITHUB LINKS */
	#admin_header .links {
		position: absolute;
		top: 40px;
		right: 40px;
	}

	@media (max-width:600px){
		#admin_header .links {
			display: none;
		}
	}

		#admin_header .links a {
			text-decoration: none;
		}

		#admin_header .links a:hover {
			color: #46a3ea;
		}

/*

	MAIN - WAPPER OF SIDEBAR AND CONTENT
	
*/
#admin_main {
	position: relative;
	overflow: hidden;
	min-height: 100%;
}

/*

	SIDEBAR
	
*/
#admin_sidebar {
	padding: 15px 15px 15px 0px;
	position: relative;
	z-index: 2;
	background: #f3f6f8;
	float: left;
	width: 280px;
	min-height: 100%;
	color: #505960;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	transition: 1s;
	overflow: hidden;
	border-right: 1px solid #e7ecf0;
}

@media (max-width:1300px) and (min-width:601px){
	#admin_sidebar {
		width: 60px;
	}

	#admin_sidebar:hover {
		width: 280px;
		margin-right: -220px;
		box-shadow: 0 0 40px rgba(0,0,50,0.1);
	}
}

@media (max-width:600px){
	#admin_sidebar {
		float: none;
		width: auto;
		min-height: inherit;
		height: 0 !important; /*overwrite JS */
		border-right: 0;
		border-bottom: 1px solid #e7ecf0;
		display: none;
		padding: 5px 0;
	}
	#admin_sidebar.opened {
		height: auto !important;
		display: block;
	}
}

	#admin_sidebar > ul {
		list-style: none;
		width: 265px;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		transition: 1s;
	}

	@media (max-width:1300px) and (min-width:601px){
		#admin_sidebar > ul {
			margin-left: -210px;	
		}

		#admin_sidebar:hover > ul {
			margin-left: 0;
		}
	}

	@media (max-width:600px){
		#admin_sidebar > ul {
			width: auto;
		}
	}

		#admin_sidebar > ul > li {
			display: block;
			position: relative;
		}

		#admin_sidebar > ul > li.opens {
			
		}

			#admin_sidebar > ul > li div.opener {
				position: absolute;
				top: 0;
				left: 0px;
				bottom: 0;
				width: 40px;
				height: 46px; /** FIX THIS - GET HEIGHT OF A ELEMENT VIA JS */
				cursor: pointer;
				z-index: 20;
			}

				#admin_sidebar > ul > li div.opener:before {
					position: absolute;
					top: 50%;
					margin-top: -10px;
					display: block;
					width: 40px;
					height: 20px;
					font-family: FontAwesome;
					content: "\f078";
					text-align: center;
					line-height: 20px;
				}

				#admin_sidebar > ul > li div.opener.active:before {
					content: "\f077";
				}

				#admin_sidebar > ul > li div.opener:hover:before {
					color: black;
				}

			@media (max-width:600px){
				#admin_sidebar > ul > li div.opener,
				#admin_sidebar > ul > li div.opener:before {
					width: 40px;
				}
			}

			#admin_sidebar > ul > li > a {
				position: relative;
				display: block;
				padding: 15px 40px 15px 40px;
				text-decoration: none;
			}

			#admin_sidebar > ul > li > a:hover {
				background: #e3eaef;
				color: #475159;
			}

				/* ICON */
				#admin_sidebar > ul > li > a > span.icon {
					position: absolute;
					top: 7px;
					right: 10px;
					display: block;
					width: 30px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					background: #e3eaef;
					content: "";
				}

				#admin_sidebar > ul > li > a > span.icon:before {
					font-family: FontAwesome;
					font-size: 16px;
					color: #717f89;
				}

				#admin_sidebar > ul > li > a:hover > span.icon:before {
					color: #475159;
				}

				#admin_sidebar > ul > li > a.settings > span.icon:before {
					content: "\f013";
				}

				#admin_sidebar > ul > li > a.users > span.icon:before {
					content: "\f007";
				}

				#admin_sidebar > ul > li > a.list > span.icon:before {
					content: "\f0ca";
				}

				#admin_sidebar > ul > li > a.articles > span.icon:before {
					content: "\f15c";
				}

				#admin_sidebar > ul > li > a.stats > span.icon:before {
					content: "\f1fe";
				}
				
				#admin_sidebar > ul > li > a.files > span.icon:before {
					content: "\f15b";
				}
				
					#admin_sidebar > ul > li > ul {
						list-style: none;
						display: none;
						border-bottom: 2px solid #e3eaef;
						margin-left: -25px;
						margin-bottom: 10px;
						font-size: 13px;
					}
					
					#admin_sidebar > ul > li.opened > ul {
						display: block;
					}

					@media(max-width:600px){
						#admin_sidebar > ul > li > ul {
							margin-left: -50px;
						}
					}

						#admin_sidebar > ul > li > ul li {
							display: block;
						}

							#admin_sidebar > ul > li > ul li a {
								display: block;
								padding: 7px 15px 7px 40px;
								text-decoration: none;
							}

							@media(max-width:600px){
								#admin_sidebar > ul > li > ul li a {
									padding-left: 65px;
								}
							}

							#admin_sidebar > ul > li > ul li a:hover {
								background: rgba(0,0,0,0.02);
								
							}

/*

	CONTENT
	
*/
#admin_content {
	overflow: hidden;
	min-height: 300px;
}

#admin_content:after {
	display: block;
	width: 100%;
	clear: both;
	content: "";
}

/*

	USER BAR

*/
#admin_userbar {
	position: relative;
	background: #f8f8f8;
	padding: 20px;
	color: #525b60;
	border-top: 1px solid #F4F4F4;
	border-bottom: 1px solid #F4F4F4;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	transition: 1s;
}

@media (max-width:1300px){
	#admin_userbar {
		padding: 10px 20px;
	}
}

@media (max-width:800px){
	#admin_userbar {
		padding: 0px 20px;
	}
}

#admin_userbar:after {
	display: block;
	width: 100%;
	clear: both;
	content: "";
}

	#admin_userbar .avatar {
		width: 50px;
		height: 50px;
		border-radius: 50px;
		overflow: hidden;
		float: left;
		background: white;
	}

	@media (max-width:800px){
		#admin_userbar .avatar {
			margin: 5px 0 0 0;
			width: 40px;
			height: 40px;
		}
	}

		#admin_userbar .avatar img {
			width: 50px;
			height: 50px;
		}

		@media (max-width:800px){
			#admin_userbar .avatar img {
				width: 40px;
				height: 40px;
			}
		}

	#admin_userbar .inside {
		position: relative;
		float: left;
		padding: 0 20px 0 30px;
		line-height: 50px;
		font-size: 14px;
	}
	
		#admin_userbar .inside > span {
			cursor: pointer;
		}

		#admin_userbar .inside > span:before {
			position: absolute;
			top: 16px;
			left: 10px;
			display: inline-block;
			font-family: FontAwesome;
			content: "\f0d7";
			-webkit-transition: 500ms;
			-moz-transition: 500ms;
			-ms-transition: 500ms;
			transition: 500ms;
			width: 15px;
			height: 15px;
			line-height: 15px;
			text-align: center;
		}

		#admin_userbar .inside > span.active:before {
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
		}

		#admin_userbar .inside a.logout {
			margin-left: 20px;
			font-weight: bold;
			text-decoration: none;
		}

		#admin_userbar .inside a.logout:before {
			padding-right: 4px;
			font-family: FontAwesome;
			font-weight: normal;
			content: "\f08b";
		}

		#admin_userbar .inside a.logout:hover {
			color: #232323;
		}

	#admin_userbar .user_menu {
		position: absolute;
		top: 60px;
		left: 80px;
		padding: 7px;
		background: white;
		border-radius: 5px;
		list-style: none;
		width: 120px;
		box-shadow: 0 0 7px rgba(0,0,0,0.1);
		display: none;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		transition: 1s;
	}

	@media (max-width:1300px){
		#admin_userbar .user_menu {
			top: 50px;
		}
	}
	
	@media (max-width:600px){
		#admin_userbar .user_menu {
			top: 50px;
			left:0;
			right:0;
			width: 100%;
			border-radius:0;
			border-radius:none;
			border-bottom:4px solid #0091ff;
		}
	}

	#admin_userbar .user_menu.open {
		display: block;
	}

		#admin_userbar .user_menu > li {}

			#admin_userbar .user_menu > li > a {
				display: block;
				padding: 6px;
				text-decoration: none;
				color: #6F6F6F;
			}
			
			@media (max-width:600px){
				#admin_userbar .user_menu > li > a {
					font-size: 14px;
					padding: 10px;
				}
			}

			#admin_userbar .user_menu > li > a:hover {
				color: #46a3ea;
			}

	/* ADMIN PAGE PATH */
	#admin_pagepath {
		list-style: none;
		padding: 10px 0;
		margin: 10px 30px 0 30px;
		border-bottom: 1px solid #F4F4F4;
	}

	@media (max-width:600px){
		#admin_pagepath {
			margin: 0 15px 0 15px;
		}
	}

	#admin_pagepath:after {
		display: block;
		width: 100%;
		content: "";
		clear: both;
	}

		#admin_pagepath > li {
			display: inline;
			font-size: 12px;
		}

		#admin_pagepath > li:before {
			font-family: FontAwesome;
			content: "\f105";
			padding-right: 7px;
			padding-left: 3px;
			font-size: 14px;
			color: #747474;
		}

		#admin_pagepath > li:first-child:before {
			font-family: FontAwesome;
			content: "\f015";
			padding-right: 7px;
			font-size: 14px;
		}

			#admin_pagepath > li > a {
				padding: 0 4px;
				text-decoration: none;
				color: #626262;
			}

			#admin_pagepath > li > a:hover {
				color: #46a3ea;
			}

			#admin_pagepath > li:last-child > a {
				font-weight: bold;
				color: black;
			}

	/* MAIN CONTENT FOR ACTUAL PAGE */
	#admin_content > .inside {
		padding: 20px 30px;
	}

	@media (max-width:600px){
		#admin_content > .inside {
			padding: 5px 15px;
		}
	}

	#admin_content > .inside:after {
		display: block;
		width: 100%;
		clear: both;
		content: "";
	}
